---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@/styles/global.css';
import {SITE_METADATA} from "@/consts";
import {ViewTransitions} from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {title, description, image = '/blog-placeholder-1.jpg'} = Astro.props;
---

<head>
    <!-- Global Metadata -->
    <meta charset="utf-8" lang={SITE_METADATA.language}/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>

    <!-- Font preloads -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" crossorigin>
    <!--<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />-->
    <!--<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />-->

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL}/>

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description}/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content={Astro.url}/>
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:image" content={new URL(image, Astro.url)}/>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content={Astro.url}/>
    <meta property="twitter:title" content={title}/>
    <meta property="twitter:description" content={description}/>
    <meta property="twitter:image" content={new URL(image, Astro.url)}/>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="/static/favicons/site.webmanifest"/>
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#000000"/>
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fff"/>
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000"/>
    <link rel="alternate" type="application/rss+xml" href="/rss.xml"/>

    <ViewTransitions/>
</head>
