---
import type {Page} from "astro:content";

import Link from "./Link.astro";

type Props = Page;

const {page: {currentPage, lastPage, url: {prev, next}}} = Astro.props;
---

<div class="space-y-2 pb-8 pt-6 md:space-y-5">
    <nav class="flex justify-between">
        {!prev && (
                <button class="cursor-auto disabled:opacity-50" disabled>Previous</button>)}
        {prev && (
                <Link href={prev} rel="prev">Previous</Link>
        )}
        <span>
          {currentPage} of {lastPage}
        </span>
        {!next && (
                <button class="cursor-auto disabled:opacity-50" disabled>Next</button>
        )}
        {next && (
                <Link href={next} rel="next">Next</Link>
        )}
    </nav>
</div>
