---
// https://github.com/silent1mezzo/astro-social-share
import { useTranslations } from "@/i18n";
import {
  FacebookShareButton,
  LinkedInShareButton,
  RedditShareButton,
  TwitterShareButton,
} from "astro-social-share";

const t = useTranslations();

type Props = {
  title: string;
  description: string;
  via?: string;
  class?: string;
};

const { title, description, via } = Astro.props;
---

<div class="flex gap-2" class:list={Astro.props.class}>
    <FacebookShareButton />
    <LinkedInShareButton />
    <RedditShareButton {title} />
    <TwitterShareButton {title} {description} {via} />
    <span>{t('components.socialShareButtons.sharing')}</span>
</div>

<style>
  :global(.social-share-btn) {
    width: 24px;
    height: 24px;
  }
</style>
