---
import SectionContainer from "../components/SectionContainer.astro";
import PageTitle from "../components/PageTitle.astro";
import Link from "../components/Link.astro";
import {SITE_METADATA} from "../consts";
import RootLayout from "./RootLayout.astro";

interface Props {
    title: string;
}

const {title} = Astro.props;
---
<RootLayout {title}>
    <SectionContainer>
        <!--TODO: Scroll and Comment component-->
        <!--<ScrollTopAndComment />-->
        <article>
            <div class="xl:divide-y xl:divide-gray-200 xl:dark:divide-gray-700">
                <header class="pt-6 xl:pb-6">
                    <div class="space-y-1 text-center">
                        <dl class="space-y-10">
                            <div>
                                <dt class="sr-only">Published on</dt>
                                <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                                    <!--<time dateTime={date}>-->
                                    <!--    {new Date(date).toLocaleDateString(siteMetadata.locale, postDateTemplate)}-->
                                    <!--</time>-->
                                </dd>
                            </div>
                        </dl>
                        <div>
                            <PageTitle>{title}</PageTitle>
                        </div>
                    </div>
                </header>
                <div class="grid-rows-[auto_1fr] divide-y divide-gray-200 pb-8 dark:divide-gray-700 xl:grid xl:grid-cols-4 xl:gap-x-6 xl:divide-y-0">
                    <dl class="pb-10 pt-6 xl:border-b xl:border-gray-200 xl:pt-11 xl:dark:border-gray-700">
                        <dt class="sr-only">Authors</dt>
                        <dd>
                            <ul class="flex flex-wrap justify-center gap-4 sm:space-x-12 xl:block xl:space-x-0 xl:space-y-8">
                                {[].map((author) => (
                                        <li class="flex items-center space-x-2">
                                            {author.avatar && (
                                                    <Image
                                                            src={author.avatar}
                                                            width={38}
                                                            height={38}
                                                            alt="avatar"
                                                            class="h-10 w-10 rounded-full"
                                                    />
                                            )}
                                            <dl class="whitespace-nowrap text-sm font-medium leading-5">
                                                <dt class="sr-only">Name</dt>
                                                <dd class="text-gray-900 dark:text-gray-100">{author.name}</dd>
                                                <dt class="sr-only">Twitter</dt>
                                                <dd>
                                                    {author.twitter && (
                                                            <Link
                                                                    href={author.twitter}
                                                                    class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                                                            >
                                                                {author.twitter.replace('https://twitter.com/', '@')}
                                                            </Link>
                                                    )}
                                                </dd>
                                            </dl>
                                        </li>
                                ))}
                            </ul>
                        </dd>
                    </dl>
                    <div class="divide-y divide-gray-200 dark:divide-gray-700 xl:col-span-3 xl:row-span-2 xl:pb-0">
                        <div class="prose max-w-none pb-8 pt-10 dark:prose-invert">
                            <slot/>
                        </div>
                        <!--    <div class="pb-6 pt-6 text-sm text-gray-700 dark:text-gray-300">-->
                        <!--        <Link href={discussUrl(path)} rel="nofollow">-->
                        <!--            Discuss on Twitter-->
                        <!--        </Link>-->
                        <!--        {` • `}-->
                        <!--        <Link href={editUrl(filePath)}>View on GitHub</Link>-->
                        <!--    </div>-->
                        <!--    {SITE_METADATA.comments && (-->
                        <!--            <div-->
                        <!--                    class="pb-6 pt-6 text-center text-gray-700 dark:text-gray-300"-->
                        <!--                    id="comment"-->
                        <!--            >-->
                        <!--                <Comments slug={slug}/>-->
                        <!--            </div>-->
                        <!--    )}-->
                    </div>
                    <footer>
                        <!--<div class="divide-gray-200 text-sm font-medium leading-5 dark:divide-gray-700 xl:col-start-1 xl:row-start-2 xl:divide-y">-->
                        <!--    {tags && (-->
                        <!--            <div class="py-4 xl:py-8">-->
                        <!--                <h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">-->
                        <!--                    Tags-->
                        <!--                </h2>-->
                        <!--                <div class="flex flex-wrap">-->
                        <!--                    {tags.map((tag) => (-->
                        <!--                            <Tag key={tag} text={tag}/>-->
                        <!--                    ))}-->
                        <!--                </div>-->
                        <!--            </div>-->
                        <!--    )}-->
                        <!--    {(next || prev) && (-->
                        <!--            <div class="flex justify-between py-4 xl:block xl:space-y-8 xl:py-8">-->
                        <!--                {prev && prev.path && (-->
                        <!--                        <div>-->
                        <!--                            <h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">-->
                        <!--                                Previous Article-->
                        <!--                            </h2>-->
                        <!--                            <div class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400">-->
                        <!--                                <Link href={`/${prev.path}`}>{prev.title}</Link>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                )}-->
                        <!--                {next && next.path && (-->
                        <!--                        <div>-->
                        <!--                            <h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">-->
                        <!--                                Next Article-->
                        <!--                            </h2>-->
                        <!--                            <div class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400">-->
                        <!--                                <Link href={`/${next.path}`}>{next.title}</Link>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                )}-->
                        <!--            </div>-->
                        <!--    )}-->
                        <!--</div>-->
                        <div class="pt-4 xl:pt-8">
                            <Link
                                    href="/blog"
                                    class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                                    aria-label="Back to the blog"
                            >
                                &larr; Back to the blog
                            </Link>
                        </div>
                    </footer>
                </div>
            </div>
        </article>
    </SectionContainer>
</RootLayout>
